<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/404.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;800&display=swap" rel="stylesheet">

    <title>Pokemon API</title>
</head>
<body>
    <div class="container">
        <div class="card">
                <div class="title">
                    <h1>404!</h1>
                </div>
                <div class="trainer-img">
                    <img src="img/trainer red.png" alt=":(" class="trainer-red">  
                    <img src="svg/blob2.svg" alt="" class="blob">
                </div>
                <div class="bottom-card">
                <h2>You seem to be lost...</h2>
                <p>We couldn't find the page that you want :(</p>
                <a href="/">Go back home</a>
                </div>
        </div>
    </div>
</body>
</html>