<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Pokemon API</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="title">Pokemon Api</h1>
    <div class="container" id="container">
        
    </div>
    <footer>
        <div class="bottom-bar">
            <div class="author">
                <p>Created by: <strong>Maximo Torterolo Ambrosini</strong></p>
                <a href="#">See the repository</a>
            </div>
            <div class="contact">
                <h3>Contact me!</h3>
                <div class="social-media">
                    <a href="https://github.com/maximo-torterolo-ambrosini" target="_blank" referrerpolicy="no-referrer" class="github">
                        <img src="svg/github.svg"  alt="github">
                        <p>maximo-torterolo-ambrosini</p>
                    </a>
                    <a href="https://www.linkedin.com/in/maximo-torterolo-ambrosini/" target="_blank" referrerpolicy="no-referrer" class="linkedin">
                        <img src="svg/linkedin.svg"  alt="linkedin">
                        <p>maximo-torterolo-ambrosini</p>
                    </a>
                    <a href="mailto: maximo.torterolo.a@gmail.com" target="_blank" referrerpolicy="no-referrer" class="email">
                        <img src="svg/at sign.svg" alt="email">
                        <p>maximo.torterolo.a@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/main.js" type="module"></script>
</body>
</html>


