:root {
    --black: #17181f;
    --purple: #6c72cb;
    --magenta: #cb69c1;
    --white: #eeedf0;
}
a:visited {
    text-decoration: none;
    color: var(--magenta);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: var(--black);
}

body {
    background-image: url("../img/bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    backdrop-filter: blur(10px);
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    min-width: fit-content;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    min-height: 100vh;
}

.card {
    box-shadow: 0px 0px 20px 10px rgba(23, 24, 31, 0.5);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(23, 24, 31, 0.5);
    -moz-box-shadow: 0px 0px 20px 10px rgba(23, 24, 31, 0.5);
    position: relative;
    width: 400px;
    height: 600px;
    margin: 30px;
    border-radius: 15px;
    background: var(--white);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--magenta);
    margin-top: 10px;
    font-size: 2.5em;
}

.trainer-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.trainer-red {
    position: relative;
    z-index: 2;
    width: 40%;
}

.trainer-img .blob {
    position: absolute;
    width: 90%;
    pointer-events: none;
    z-index: 1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-card {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.bottom-card h2 {
    margin-top: 10px;
    color: var(--black);
}
.bottom-card p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.bottom-card a {
    padding: 10px;
    border-radius: 1.2em;
    border: 1px solid var(--magenta);
    text-decoration: none;
    color: var(--magenta);
    transition: 0.3s;
}

.bottom-card a:hover {
    background-color: var(--magenta);
    color: var(--white);
}

@media screen and (max-width: 460px) {
    body {
        background-image: none;
        background-color: var(--black);
    }
}

@media screen and (max-height: 925px) {
    .card {
        box-shadow: 0px 0px 20px 10px rgba(108, 114, 203, 0.2) !important;
        -webkit-box-shadow: 0px 0px 20px 10px rgba(108, 114, 203, 0.2) !important;
        -moz-box-shadow: 0px 0px 20px 10px rgba(108, 114, 203, 0.2) !important;
    }
    body {
        background-image: none;
    }
}
