<div class="card" id="template">
    <div class="content">
        <h2 id="order">id</h2>
        <div class="pokemon-img">
            <img src="svg/Blob.svg" alt="" class="blob">
            <img src="img/pokeball.gif" alt="Loading..." class="img">
        </div>
        <h3 id="name">name</h3>
        <p id="types">types</p>
        <div class="pokemon-stats">
            <div class="stat">
                <div class="value" id="HP">value</div>
                <div class="type">HP</div>
            </div>
            <div class="stat border">
                <div class="value" id="attack">value</div>
                <div class="type">Attack</div>
            </div>
            <div class="stat">
                <div class="value" id="defense">value</div>
                <div class="type">Defense</div>
            </div>
        </div>
    </div>
</div>